/* center elements */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: table;
    height: 100%;
}


.player-div {
    position: relative;
    /* display: inline-block;  nu cred ca ai nevoie de asta*/
    padding: 10px;
    margin: 10px 35px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-content: center; /* aliniaza pe linie imaginea si textul */
}

/* textul din player div */
.player-div span {
    margin: 0 3px;
    /* margin-left si margin-right sunt 3 ca sa distantez un pic de imagine */
    padding-top: 3px;
    /* ca sa aliniez textul cu imaginea*/
}

.player-turn {
    position: absolute; /* fata de player div care position relative */
    display: none; /* initial e none dar e setat block in main.js cand se decide culoarea jucatorului */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    bottom: calc(100% + 5px);  /* fix deasupra la player-div plus inca 5 px*/
    left: calc(50% - 5px); /* fix la mijloc dar trebuie sa scad 10/2 din width */
}


.container {
    display: table-cell;
    vertical-align: middle;
}

.container>section {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#win-message {
    width: 200px;
    height: 200px;
}

#clock {
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    background-color: #fab005;
    transform: rotate(45deg);
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

/*textul din timerul de 15 secunde */
#timer>span {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOARD */

#board-big {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
}

#board-container {
    height: 330px;
    display: flex;
    flex-flow: row, wrap;
}

.margin {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    height: 100%;
    min-width: 10px;
    background-color: rgba(0, 170, 212, 255);
}

.left {
    border-top-left-radius: 25px;
}

.right {
    border-top-right-radius: 25px;
}

#board {
    flex-grow: 1;
    /* Daca vrei padding stanga dreapta la tabla
    /* padding-left: 5px;
    padding-right: 5px; */

    background-color: rgba(0, 136, 170, 255);
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-flow: row nowrap;
}

.board-column {
    padding-top: 5px;

    display: flex;
    flex-direction: column;
}

.board-column:hover {
    background-color: rgba(197, 197, 197, 0.555);
}

.board-cell {
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin-bottom {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 102, 128, 255);

}

button {
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}

@keyframes fadebackground-red {
    from {
        background-color: red;
    }

    to {
        background-color: #ff00ff;
    }
}

.win-animation-red {
    animation: fadebackground-red 2s infinite alternate;
}

@keyframes fadebackground-yellow {
    from {
        background-color: yellow;
    }

    to {
        background-color: #ff00ff;
    }
}

.win-animation-yellow {
    animation: fadebackground-yellow 2s infinite alternate;
}