/* center elements */
body {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    height: 100%;
}

/* PLAYER DIV 
=================
*/
.player-div {
    position: relative;
    border: 3px solid red;
    
    padding: 10px;
    padding-right: 10px;
    margin: 10px 35px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-content: center;
    /* aliniaza pe linie imaginea si textul */
}

/* textul din player div */
.player-div span {
    margin: 0 3px;
    min-width: 60px;
    /* margin-left si margin-right sunt 3 ca sa distantez un pic de imagine */
    padding-top: 3px;
    /* ca sa aliniez textul cu imaginea*/
}

.player-score{
    position: absolute;
    /* border: 1px solid black; */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
    top: calc(100% + 30px);
    background-color: rgba(0, 170, 212, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0.2;
        display: block;
    }

    40% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: block;
    }
}

/* il adaug la player-info*/
.fadeInOut {
    animation: fadeInOut 7s;
}

/* face un triunghi mic */
/* https://stackoverflow.com/questions/7073484/how-do-css-triangles-work */
.player-info::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 20%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgb(0, 118, 139);
}

.player-info {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    /* aliniat la stanga */
    width: 100%;
    height: 90%;
    background-color: rgb(0, 118, 139);
}

.player-info span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.player-turn {
    position: absolute;
    /* fata de player div care position relative */
    display: none;
    /* initial e none dar e setat block in main.js cand se decide culoarea jucatorului */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: calc(100% + 5px);
    /* fix deasupra la player-div plus inca 5 px*/
    left: calc(50% - 5px);
    /* fix la mijloc dar trebuie sa scad 10/2 din width */
}
.player-win-icon{
    position: absolute;
    bottom: calc(100% + 4px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-size: 140%;
    background-image: url("../images/win_icon.png");
    background-repeat: no-repeat;
    background-position: center;

}

.container>section {
    text-align: center;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#win-message {
    width: 200px;
    height: 200px;
}

#clock {
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer {
    background-color: #fab005;
    transform: rotate(45deg);
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

/*textul din timerul de 15 secunde */
#timer>span {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BOARD */

#board-big {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
}

#board-container {
    height: 330px;
    display: flex;
    flex-flow: row, wrap;
}

.board-margin {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    height: 100%;
    min-width: 10px;
    background-color: rgba(0, 170, 212, 255);
}

.left {
    border-top-left-radius: 25px;
}

.right {
    border-top-right-radius: 25px;
}

#board {
    flex-grow: 1;
    /* Daca vrei padding stanga dreapta la tabla
    /* padding-left: 5px;
    padding-right: 5px; */

    background-color: rgba(0, 136, 170, 255);
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-flow: row nowrap;
}

.board-column, .active-board-column {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.active-board-column:hover {
    background-color: rgba(197, 197, 197, 0.555);
}

.board-cell {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.board-cell.red {
    background-size: 60%;
    background-color: red;
    background-image: url("../images/delft_flame.png");
    background-repeat: no-repeat;
    background-position: center;
}

.board-cell.orange {
    background-size: 60%;
    background-color: orange;
    background-image: url("../images/delft_flame.png");
    background-repeat: no-repeat;
    background-position: center;
}

.board-margin-bottom {
    height: 20px;
    width: 100%;
    background-color: rgba(0, 102, 128, 255);

}

button {
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
}

@keyframes blinker {
    50% {
      opacity: 0.5;
    }
}

.blink-me {
    animation: blinker 2s linear infinite;
}
  

#win-message {
    border: 3px solid rgba(0, 136, 170, 255);
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 10%; 
    bottom: 35%;
    display: none;
}

#rematch-button {
    position: absolute; 
    bottom: 5%;
    left: 18%;
    width: fit-content;
}