#title {
    position: absolute;
    top: 20px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: -10px 0;
}

#online-players {
    position: absolute;
    font-size: 20px;
    bottom: 0;
    right: 4px;
}

#online-players>span {
    color: red;
}

button {
    position: relative;
    padding: 0px;
    margin: 30px 0;
    width: 300px;
    height: 100px;
    align-self: center;
}

#stats {
    font-family: Virgil, serif;
    font-size: 25px;
    /* background-color: white; */
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
}

#stats>div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#stats>div>span {
    color: red;
    position: absolute;
    right: 10px;
}