@font-face {
    font-family: "Virgil";
    src: url("https://excalidraw.com/Virgil.woff2");
}

@font-face {
    font-family: "Cascadia";
    src: url("https://excalidraw.com/Cascadia.woff2");
}

:root {
    --font-size: 30px;
}

/* make body full screen */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body { 
    background: repeating-linear-gradient(-45deg, #c0e0e98e, #c0e0e98e 2.5px, white 2.5px, white 5px);
    font-family: Virgil, serif;
    /* min-width: 1200px;
    min-height: 700px; */
}

#title {
    font-size: 40px;
    font-weight: bold;
    font-family: Virgil, serif;
    margin-bottom: 10%;
    background: repeating-linear-gradient(45deg, #c0e0e98e, #c0e0e98e 2.5px, white 2.5px, white 5px);
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px 20px;
}


button {
    font-size: 30px;
    font-family: Virgil, serif;
    background: repeating-linear-gradient(45deg, #c0e0e98e, #c0e0e98e 2.5px, white 2.5px, white 5px);
    border: 3px dashed black;
}

button:hover {
    background-color: #6ebbd573;
}

button:active {
    background-color: #c0e0e98e;
}

/*
 * Minimum width/height for this game is 1400px x 700px
 */
 @media (max-width: 1399px), (max-height: 699px) {
    body::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      font-family: 'Courier New', Courier, monospace;
      font-size: 20px;
      color: greenyellow;
      padding: 20px;
      content: "Your window is too small (at least 800x800px is expected) to play this game. Enlarge the browser window or zoom out to play or disable the CSS @media query.";
      background-color: black;
      z-index: 100;
    }
}