main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;    
}

#title {
    margin-top:20px;
    width: 400px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 50px;
}


.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#tutorial-text {
    width: 70%;
    font-size: 25px;
    font-family: Virgil, serif;
    margin: 10px auto;   
}

#back{
    margin: 10px;
    width: 100px;
    height: 50px;
}