:root {
    --font-size: 30px;
}

@font-face {
    font-family: Virgil;
    src: url("./fonts/Virgil.woff2");
    font-display: swap;
}

#title {
    position: absolute;
    top: 20px;
    width: 400px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(252, 252, 252); */
}

h1 {
    font-family: Virgil, serif;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

main {
    background: repeating-linear-gradient(-45deg, #c0e0e98e, #c0e0e98e 2.5px, white 2.5px, white 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    margin: -10px 0;
}

button {
    font-size: var(--font-size);
    font-family: Virgil, serif;
    margin: 30px 0;
    width: 300px;
    height: 100px;
    align-self: center;
    background-color: transparent;
    /* background-color: white; */
    border: 2px dashed black;
}

button:hover {
    background-color: #6ebbd573;
}

#stats {
    font-family: Virgil, serif;
    font-size: 25px;
    /* background-color: white; */
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid black;
}

#stats>div {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#stats>div>span {
    color: red;
    position: absolute;
    right: 10px;
}